*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.container{
    width: 100%;
    display: flex;
    height: calc(100vh - 100px)
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-start {
    display: flex;
    justify-content: start;
}


/* HEADER */
header{
    width: calc(400px - 150px);
    background-color: rgb(0, 0, 0);
    color: grey;
}


ul{
    list-style-type: none;
    line-height: 2.2rem;
}

div.padding{
    padding: 1rem;
}

div.padding-bottom{
    padding-top: 12.8rem;
}

div.space{
    padding-bottom: 0.5rem;
}

li.logo{
    padding-bottom: 1rem;

}

li.logo img{
    width: 9rem;
}

li i{
    font-size: 1.4rem;
    width: 15%;
}

li.bordo{
    width: 178px;
    height: 1px;
    background-color: white;
}

.fa-solid.fa-square-plus{
    font-size: 2.5rem;
    width: 20%;
}

.fa-regular.fa-circle-down{
    font-size: 0.8rem;
}

.fa-user.fa-user{
    font-size: 0.8rem;
}

li.small{
    display: none;
}

span.white{
    color: white;
}
/* MAIN */

main{
    width: calc(100vw - 100px);
    background-color: rgb(20, 25, 34);
    overflow-y: auto;
    color: grey;
    height: 100%
}

section.premain{
    width: 100%;
    height: 80px;
    background-color: rgb(8, 11, 18);
    text-align: end;
}

button{
    padding: 0.5rem 2rem;
    background: none;
    border-radius: 20rem;
    color: white;
    border-color: white;
    margin-top: 1rem;
}

section.premain button:hover{
    padding: 1rem 3rem;
}


/* !SECTION ONE */

section.menù ul li{
    padding: 0.5rem 1rem;
}

/* !SECTION TWO */

div.card img:hover{
    opacity: 0.25;
}

.hover:hover{
    color: white;
}

h1.white{
    color: white;
    padding: 1rem 1rem;
}

div.card{
    text-align: center;
    width: calc((100% / 6) - 0.5rem);
    margin-right: 1rem;
    
}

div.card img{
    width: 100%;
    
}

h2{
    color: white;
    font-size: 1rem;
    padding-top: 0.5rem;
}

section.for{
    padding-top: 2rem;
}

section.for sub{
    padding-left: 1rem;
}

div.row.flex-start div.card{
    padding-top: 1rem;
}

section.popular sub{
    padding-left: 1rem;
}

div.card-vinile img{
    border-radius: 20rem;
}

div.row.flex.flex-row{
    padding-left: 1rem;
}

div.row.flex-start{
    padding-left: 1rem;
}

div.play{
    position: relative;
}

span.cicle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    

}

/* FOOTER */

footer{
    height: 100px;
    width: 100vw;
    background-color: rgb(40, 40, 40);

}

span.number{
    color: white;
    
}

div ul li img{
    width: 3rem;
}

nav.player{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

ul.current{
    display: flex;
    flex-direction: row;
    color: white;
    
}


div.brano{
    padding: 1rem;

}

li.text{
    max-width: 90px;
    line-height: 0.8rem;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    color: grey;
}

li.simbol{
    padding-top: 0.5rem;
    padding-left: 1rem;
    font-size: 0.5rem;
    color: grey;
}

ul.current li{
    padding-right: 1rem;
}

ul.start{
    display: flex;
    color: white;
    padding-top: 0.5rem;
}

ul.start li{
    padding-right: 2rem;
}

ul.display li{
    padding-right: 1rem;
    
}

ul.display{
    color: white;
    display: flex;
    padding-top: 1rem
}

.fa-solid.fa-list{
    font-size: 0.8rem;
}

.fa-solid.fa-display{
    font-size: 0.8rem;
}

.fa-solid.fa-volume-high{
    font-size: 0.8rem;
}

div.time{
    display: flex;
    justify-content: center;
    margin-left: 2rem;
    align-items: center;
}

div.bar.bar-grey{
    width: 399px;
    background-color: grey;
    height: 3px;
    
}

div.bar.bar-white{
    width: 70px;
    background-color: white;
    height: 3px;
    
}

div.button ul.start{
    padding-left: 11rem;
}

div.bar.bar-white:hover{
    background-color: greenyellow;
}

li.text sub:hover{
    color: white;
}

/* MEDIA QUERY */

@media screen and (max-width: 878px){
    div.card{
        text-align: center;
        width: calc((100% / 5) - 0.5rem);
        margin-right: 1rem;
    
    }
    
    div.row.flex.flex-row{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }


    ul.flex.flex-row{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 639px){
    div.card{
        text-align: center;
        width: calc((100% / 2) - 1rem);
        margin-right: 1rem;
    
    }
}

@media screen and (max-width: 552px){
    div.card{
        text-align: center;
        width: calc((100% / 2) - 1rem);
        margin-right: 1rem;
    }
    header{
        max-width: 50px;
        background-color: rgb(0, 0, 0);
        color: grey;
}
    main{
    width: calc(100vw - 50px);
    
}

    div.invisible{
        display: none;
    }

    span.invisible{
        display: none;
    }

    li.logo{
        display: none;
    }
    
    li.small{
        display: contents;
        width: 2rem;
    }

    li.small img{
        width: 2rem;
    }

    div.padding{
        text-align: center;
    }

    div.space{
        padding-right: 1rem;
    }

    div.padding{
        padding: 0.2rem;
    }
    
}
    


